// Place all the styles related to the public/Addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cell_address1 {
  width: 15%;
}

.cell_address2 {
  width: 45%;
}

.cell_address3 {
  width: 15%;
}

.cell_address4 {
  width: 25%;
}

.bottom_address {
  text-align: center;
}

.bottom_1 {
  margin-right: 10%;
}
