// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  padding : 10px 0;
}

table.table-bordeless{
  border-collapse:separate;
	border-spacing: 100px 20px;
}