// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bottom_order1 {
  margin-left: 25px;
}

.cell_order1 {
  width: 30%;
}

.cell_order2 {
  width: 14%;
}

.cell_order3 {
  width: 13%;
}

.cell_order4 {
  width: 13%;
}

.cell_order5 {
  width: 30%;
}